page-home {

  #entrar{
    background-color: #2b0b83;
  }

  h3{
    text-align: center;
  }

  img{
    width: 300px;
    align-self: center;
    margin: auto;
    display: block;
    padding: 10px;

  }


}
